.box {
    position: relative;
    width:100px;
    height: 100px;
    margin:4px;
    display:inline-block
}

.red {
    background-color: red
}

.blue {
    background-color: blue
}

.green {
    background-color: green
}


.yellow {
    background-color: yellow
}

.pow {
    width:10%;
}

.header {
    width: 100%;
    height: 500px;
    background-color: yellow;
}
